@import "https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css";
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap';
/* root */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--main-font);
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

.button-background--centered, .modal__form, .hero__heading, .hero, .container {
  margin-left: auto;
  margin-right: auto;
}

.modal__input-icon, .clients-list__icon, .social-icons__vector, .contact__icon {
  fill: currentColor;
}

.product-card, .filter, .clients-list, .social-icons, .team__grid, .advantages__grid, .footer__address-transcript, .contact, .mob-contact, .mob-navigation__buttons, .navigation__buttons {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

address {
  font-style: normal;
}

/* body */
body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

/* images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* container */
.container {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section__title {
  font-size: 28px;
  line-height: 1.1785714286;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

/* logo */
.logo {
  font-weight: 700;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}

.logo__studio {
  color: #212121;
}
.logo__studio-inverse {
  color: #ffffff;
}

/* page header */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
}

/* header navigation */
.navigation {
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navigation {
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navigation__buttons {
  gap: 50px;
  display: flex;
  padding-left: 0;
  margin-left: 93px;
}

.mob-menu__button {
  border: 0;
  background-color: transparent;
  padding: 0;
}
.mob-menu__button:hover, .mob-menu__button:focus {
  color: #2196f3;
}
.mob-menu__button:hover .icon-menu, .mob-menu__button:focus .icon-menu {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .mob-menu__button {
    display: none;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  max-width: 480px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 15px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.mob-menu__close {
  display: block;
  margin-left: auto;
  margin-bottom: -10px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}
.mob-menu__close:hover, .mob-menu__close:focus {
  color: #2196f3;
}
.mob-menu__close:hover .icon-cross, .mob-menu__close:focus .icon-cross {
  fill: currentColor;
}

.mob-navigation__item:nth-child(2) {
  margin-top: 35.71px;
  margin-bottom: 32px;
}
.mob-navigation__item:nth-child(3) {
  margin-bottom: 32px;
}

.mob-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.mob-navigation__link--current {
  color: #2196f3;
}

.mob-contact__item:nth-child(2) {
  margin-top: 32px;
  margin-bottom: 64px;
}

.mob-contact__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-contact__item:nth-child(2) .mob-contact__link {
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding-bottom: 10px;
}

.mob-social__item:not(:last-child):after {
  content: "";
  width: 22px;
  height: 0px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-social__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.navigation__link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  list-style: none;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}
.navigation__link--current {
  color: #2196f3;
}
.navigation__link--current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .navigation__link--current::after {
    bottom: -2px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link--current::after {
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .navigation__buttons {
    display: none;
  }
}

/* contacts header */
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    margin-left: auto;
    gap: 10px;
    flex-direction: column;
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0px;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contact__item {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-flex;
    align-items: center;
  }
}

/* mail and phone links */
.contact__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 10px;
  text-decoration: none;
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

/* footer main-page */
/* footer left side */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
  }
}

.footer__left-info {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__left-info {
    margin-right: 70px;
    min-width: 231px;
    margin-bottom: 0;
    text-align: initial;
  }
}

.footer__logo {
  margin-right: 0;
  margin-bottom: 20px;
  display: inline-block;
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__address-transcript {
  padding-left: 0;
}

.footer__address-line {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}
.footer__address-line:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .footer__address-line {
    margin-bottom: 9px;
  }
  .footer__address-line:last-child {
    margin-bottom: 0;
  }
}

/* Footer contact data */
.contact-data {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-data:focus, .contact-data:hover {
  color: #2196f3;
}

/* footer center */
.footer__center-info {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__center-info {
    margin-left: auto;
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__center-info {
    padding-top: 12px;
    padding-bottom: 40px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 93px;
  }
}

.footer__invitation {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__invitation {
    text-align: initial;
  }
}

/* footer subscription */
@media screen and (min-width: 768px) {
  .footer__subscription {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscription {
    align-items: center;
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 40px;
  }
}

/* Subscription form footer */
.footer__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 570px;
  }
}

.footer__input {
  padding-left: 15px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  outline: inherit;
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.button-background.button-background--submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 200px;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 1200px) {
  .button-background.button-background--submit {
    margin-left: 12px;
    height: 50px;
  }
}

.button-background__icon {
  margin-left: 10px;
}

/* Activities */
@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__grid {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 30px;
}

.activities__cell {
  margin: 0;
  padding: 0;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  bottom: 0;
}

.activities__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
}

/* main  */
/* hero */
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  max-width: 1600px;
}
.hero__container {
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bg-desk.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/bg-desk-2x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__heading {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__heading {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.button-background {
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-background:hover, .button-background:focus {
  color: #ffffff;
  background-color: #188ce8;
}

/* advantages */
.advantages__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-left: 0;
}

.advantages__cell {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .advantages__cell {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .advantages__cell {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__cell {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.advantages__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: initial;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    text-align: initial;
  }
}

.advantages__description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

/* Activities */
@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__grid {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 30px;
}

.activities__cell {
  margin: 0;
  padding: 0;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  bottom: 0;
}

.activities__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */
.team__section {
  background-color: #f5f4fa;
}

.team__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.team__profile {
  margin: 0;
  padding: 0;
  gap: 30px;
  border-color: #212121;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 480px) {
  .team__profile {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team__profile {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__profile {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

.team__name,
.team__description {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.team__description {
  color: #757575;
  font-weight: 400;
  margin-bottom: 16px;
}

/* social icons */
.social-icons {
  display: flex;
  gap: 10px;
  padding: 0;
  justify-content: center;
}
.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: rgb(175, 177, 184);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.social-icons__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

/*  Clients */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-list__cell {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__cell {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__cell {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}

/* portfolio */
/* filter buttons */
.filter {
  margin-bottom: 40px;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__button {
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button--current {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* product cards */
.product-card {
  padding: 0;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .product-card__item {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .product-card__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .product-card__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.product-card__link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-card__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card__wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product-card__item:first-child .product-card__wrap {
    padding-bottom: 56px;
  }
}

.product-card__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.product-card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

/* overlay product card */
.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: hidden;
}
.product-card__link:hover .overlay__wrap {
  transform: translateY(-100%);
}

.overlay__description {
  margin: 0;
}

/* Modal forms */
.backdrop {
  position: fixed;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  padding: 94px 15px;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
  }
}

.close-wrap {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-wrap:hover, .close-wrap:focus {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  background-image: url(../images/close-blue.svg);
}

.modal__header {
  margin-top: 0;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .modal__header {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .modal__header {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal__item:last-child {
  flex-direction: row;
}
.modal__item:nth-child(5) {
  margin-bottom: 20px;
}
.modal__item .modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input,
.modal__item-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: inherit;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .modal__input:focus,
.modal__item-textarea:focus,
.modal__item-textarea:focus {
  border: 1px solid #2196f3;
}

.modal__input {
  height: 40px;
  padding-left: 40px;
}

.modal__input-icon {
  position: absolute;
  left: 15px;
  top: 55%;
  transform: opacity;
}
.modal__item .modal__input:focus ~ .modal__input-icon {
  color: #2196f3;
}
.modal__input ~ .modal__input-icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-checkbox {
  position: absolute;
  appearance: none;
}

.modal__icon-checkbox {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 9px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-checkbox:checked + .modal__icon-checkbox {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-color: #2196f3;
  border: 2px solid #2196f3;
  background-repeat: no-r epeat;
}
.modal__input-checkbox:focus + .modal__icon-checkbox {
  border: 2px solid #2196f3;
}

.modal__consent {
  text-align: center;
}

.modal__item-textarea {
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .modal__label-checkbox {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal__link {
  text-decoration: underline;
  color: #2196f3;
  padding-left: 3px;
}
.modal__link:hover {
  text-decoration: none;
}

.button-background--centered {
  display: block;
}/*# sourceMappingURL=main.css.map */