/* advantages */

.advantages__grid {
	@extend %list;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	gap: 30px;
	padding-left: 0;
}

.advantages__cell {
	margin: 0;
	padding: 0;

	@include mobile {
		flex-basis: 100%;
	}

	@include tablet {
		flex-basis: calc((100% - 30px) / 2);
	}

	@include desktop {
		flex-basis: calc((100% - 30px * 3) / 4);
	}
}

.advantages__wrap {
	@include flexPositioning();

	margin-bottom: 30px;
	height: 120px;

	background-color: $accent-button-backgroung;
	border-radius: 4px;
}

.advantages__title {
	margin-top: 0;
	margin-bottom: 10px;

	font-weight: $font-weight-advantages;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-align: center;

	@include tablet {
		text-align: initial;
	}
	@include desktop {
		text-align: initial;
	}
}

.advantages__description {
	color: $additional-text-color;
	font-weight: $additional-font-weight;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	margin: 0;
}
