/* portfolio */
/* filter buttons */

.filter {
	@extend %list;
	margin-bottom: 50px;
	padding-left: 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 8px;

	@include tablet {
		justify-content: center;
	}
}

.filter__button {
	padding-top: 6px;
	padding-left: 22px;
	padding-bottom: 6px;
	padding-right: 22px;

	color: $main-text-color;
	background-color: $accent-button-backgroung;
	font-family: $main-font;
	font-weight: $font-weight-employee-name;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;

	cursor: pointer;

	border-radius: 4px;
	border: transparent;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms $cubic-bezier;

	&--current {
		background-color: $accent-color;
		color: $accent-color-two;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
	}

	&:hover,
	&:focus {
		color: $accent-color-two;
		background-color: $accent-color;
		font-family: $main-font;
		font-size: 16px;
		line-height: 1.63;
		letter-spacing: 0.03em;

		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
