/* contacts header */

.contact {
	@extend %list;

	@media screen and (max-width: 767px) {
		display: none;
	}

	@include tablet {
		display: flex;
		margin-left: auto;
		gap: 10px;
		flex-direction: column;
		padding: 21px 0;
	}

	@include desktop {
		flex-direction: row;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0px;
		gap: 30px;
	}
}

.contact__item {
	// padding-top: 32px;
	// padding-bottom: 32px;
	// display: inline-flex;
	// align-items: center;

	@include tablet {
		padding: 0;
	}

	@include desktop {
		padding-top: 32px;
		padding-bottom: 32px;
		display: inline-flex;
		align-items: center;
	}
}
/* mail and phone links */

.contact__link {
	color: $additional-text-color;
	font-weight: $font-weight-employee-name;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	align-items: center;
	display: flex;
	transition: color 250ms $cubic-bezier;
	gap: 10px;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.contact__icon {
	@extend %currentColor;
}
