/* main  */
/* hero */

.hero {
	@extend %marginAuto;
	background-color: $accent-backgroung;

	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/bg-image/bg-mob.jpg);

	background-repeat: no-repeat;
	background-position: center;
	padding-top: 118px;
	padding-bottom: 118px;
	background-size: cover;

	max-width: 1600px;

	&__container {
		text-align: center;
	}
}

@include retina {
	.hero {
		background-image: linear-gradient(
				rgba(25, 28, 38, 0.2),
				rgba(25, 28, 38, 0.2)
			),
			url(../images/bg-image/bg-mob-2x.jpg);
	}
}

@include tablet {
	.hero {
		background-image: linear-gradient(
				rgba(25, 28, 38, 0.2),
				rgba(25, 28, 38, 0.2)
			),
			url(../images/bg-image/bg-tab.jpg);
	}
}

@include tablet {
	@include retina {
		.hero {
			background-image: linear-gradient(
					rgba(25, 28, 38, 0.2),
					rgba(25, 28, 38, 0.2)
				),
				url(../images/bg-image/bg-tab-2x.jpg);
		}
	}
}

@include desktop {
	.hero {
		background-image: linear-gradient(
				rgba(25, 28, 38, 0.2),
				rgba(25, 28, 38, 0.2)
			),
			url(../images/bg-image/bg-desk.jpg);
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

@include desktop {
	@include retina {
		.hero {
			background-image: linear-gradient(
					rgba(25, 28, 38, 0.2),
					rgba(25, 28, 38, 0.2)
				),
				url(../images/bg-image/bg-desk-2x.jpg);
			padding-top: 200px;
			padding-bottom: 200px;
		}
	}
}

.hero__heading {
	@extend %marginAuto;
	color: $accent-color-two;
	font-weight: $main-font-weight;
	font-size: 26px;
	line-height: calc(42 / 26);

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	margin-top: 0;
	margin-bottom: 30px;

	@include tablet {
		width: 360px;
	}

	@include desktop {
		font-size: 44px;
		line-height: 1.36;

		width: 696px;
	}
}

.button-background {
	color: $accent-color-two;
	background-color: $accent-color;
	font-family: $main-font;
	font-weight: $font-weight-advantages;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	border: 0;
	border-radius: 4px;
	padding: 10px 32px;

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms $cubic-bezier;

	&:hover,
	&:focus {
		color: $accent-color-two;
		background-color: $button-background-color-hover;
	}
}
