/* logo */

.logo {
	font-weight: $font-weight-advantages;
	color: $accent-color;
	font-family: $additional-font;

	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;

	@include mobile {
		font-size: 24px;
		line-height: calc(28 / 24);
	}
}

.logo__studio {
	color: $main-text-color;

	&-inverse {
		color: $accent-color-two;
	}
}
