/* social icons */

.social-icons {
	@extend %list;

	display: flex;

	gap: 10px;
	padding: 0;
	justify-content: center;

	@include tablet {
	}

	@include desktop {
		// justify-content: center;
		// padding: 0;
	}
}

.social-icons__link {
	@include flexPositioning();
	width: 44px;
	height: 44px;

	border-radius: 50%;

	color: rgb(175, 177, 184);
	background-color: transparent;

	transition: background-color 250ms $cubic-bezier,
		color 250ms $cubic-bezier;

	&:hover {
		background-color: $accent-color;
		color: $accent-color-two;
	}

	&--footer {
		color: $accent-color-two;
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.social-icons__vector {
	@extend %currentColor;
}
