@mixin flexPositioning() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin mobile {
	@media screen and (min-width: 480px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 1200px) {
		@content;
	}
}

@mixin retina {
	@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		@content;
	}
}


// @media (min-device-pixel-ratio: 2),
// 	(min-resolution: 192dpi),
// 	(min-resolution: 2dppx) {
// 	.hero {
// 		background-image: linear-gradient(
// 				rgba(25, 28, 38, 0.2),
// 				rgba(25, 28, 38, 0.2)
// 			),
// 			url(/images/bg-mob-2x.jpg);
// 	}
// }
