@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap';

/* root */

$main-text-color: #212121;
$additional-text-color: #757575;
$accent-color: #2196f3;
$accent-color-two: #ffffff;
$main-font: "Roboto", sans-serif;
$main-font-weight: 900;
$additional-font-weight: 400;
$font-weight-employee-name: 500;
$font-weight-advantages: 700;
$additional-font: "Raleway", sans-serif;
$font-style: "Normal";
$accent-backgroung: #2f303a;
$accent-button-backgroung: #f5f4fa;
$studio-style-color: rgba(255, 255, 255, 0.6);
$button-background-color-hover: #188ce8;
$cards-gap: 30px;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);


